@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
	html {
		@apply w-full;
	}

	body {
		@apply min-h-screen w-full bg-white text-[13px] leading-[1.6] font-normal tracking-[-0.01em] text-gray-600 md:text-[15px];
		font-family:
			Diatype Variable,
			ui-sans-serif,
			system-ui,
			sans-serif;
		font-feature-settings:
			'kern' 1,
			'liga' 1;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1 {
		@apply mb-[1.2em] text-[12px] text-gray-500 uppercase;
	}
}

@layer components {
	.page-container {
		@apply mx-auto min-h-screen w-full max-w-[850px] bg-white px-6 py-12;
	}

	.page-container p {
		@apply mb-[1.2em] leading-[1.6] text-gray-600;
	}

	.page-container a {
		@apply text-gray-600 underline decoration-gray-700 underline-offset-3;
	}

	.page-container h1 a {
		@apply no-underline;
	}

	.page-container .back-link {
		@apply no-underline;
	}

	.grid {
		@apply mb-[1.2em] text-gray-600;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.separator {
		@apply my-[1.2em] border-t border-gray-300;
	}

	.section-link {
		@apply no-underline inline-flex items-center gap-1 hover:text-gray-800 transition-colors;
	}

	.back-link {
		@apply text-gray-600 hover:text-gray-800 no-underline text-[12px] inline-flex items-center gap-1 transition-colors;
	}

	.arrow-icon-right {
		@apply h-4 w-3 transition-transform group-hover:rotate-45;
	}

	.arrow-icon-left {
		@apply h-4 w-3 transition-transform group-hover:rotate-45;
	}
}
